
html {
    font-size: 14px;
}

body {
    background: linear-gradient(90deg, #111a29, #131e2e, #162233, #182639, #1a2a3e, #1d2e44, #1f3349, #21374f) !important;
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}


p {
    line-height: 1.75;
}
ol{
    margin: 0px;
    padding-left: 0rem;
}

h1, h2, h3{
    color: white;
    margin: 0;
}

/* ESTILOS NAV BAR */
.navbar {
    background: rgb(20, 20, 16);
    background: linear-gradient(180deg, rgba(20, 20, 16, 1) 5%, rgba(0, 212, 255, 0) 100%);
    height: 68px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    border: none;
    box-shadow: none;
}

.rightMenu ul{
    background-color: #131313 !important;
    border: solid 1px rgba(255, 255, 255, 0.1) !important;
}

.optionsList{
    padding: 0;
    margin: 0;
}

.optionsList li a{
    color: rgba(255, 255, 255, 0.7) !important;
    border: solid 2px transparent;
    margin: 0;
    padding: 7px 14px;
}

.optionsList li a:hover{
    color: white !important;
    background-color: #1d1d1d;
    border-left: solid 2px white;
    transition: 0.3s;
}

/* estilos drop down */


/* ESTILOS LOGIN Y REGISTER */

.contenedorInputs{
    background-color: #12100D !important;
    width: 450px;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.1) !important;
}

.registerCard{
    background-color: #12100D !important;
}

.accion{
    width: 100%;
}

.reqInfo, .reqInfo:focus{
    background-color: #333333;
    width: 100%;
    height: 56px;
    border: none;
    color: white;
    outline: none;
    box-shadow: none;
}

input.reqInfo::placeholder{
    color: #7C7C7C;
}

.accion{
    background-color: red;
    border: none;
    font-weight: 700;

    width: 100%;
    height: 45px;
    color: white;
}

.accion:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}

.frgtPasswd{
    text-align: center;
    color: white;
    font-weight: 400;
}

.form-check-label{
    color: white;
}

/* estilos secciones inferiores info */

.infoRow{
    padding: 130px 80px;
}

.infoRow h1, h2, .infoQuestions h1{
    font-weight: 900;
}

/* estilos preguntas frecuentes */

.infoQuestions h1{
    text-align: center;
}

/* ESTILOS HOME PAGE */

.homeFluidCont{
    margin-top: 75px;
}

.homeContainer{
    max-width: 1800px !important;
}

.mainVideo{
    position: relative;
}

#my-video{
    border-radius: 1vw !important;
}

.mainVideo h1{
    position: absolute;
    left: 10vh;
    bottom: 20vh;
    z-index: 11;
    font-size: 40px;
    font-weight: 900;
}

.firstVideo{
    margin-bottom: 30px;
}

.homeContainer h2{
    font-weight: 700;
    font-size: 1.5rem;
}

.p-carousel-container{
    padding-top: 20px;
    padding-bottom: 40px;
}

.p-carousel{
    padding: 0 !important;
}

.p-carousel-item{}

.surface-border{
    border: none;
    padding: 0 !important;
    max-width: 355px;
}

.surface-border:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.5s;
}

.image-item{
    max-height: 165px;
    border-radius: 1vw !important;
}

.p-carousel-prev:hover, .p-carousel-next:hover{
    background-color: transparent;
}

.p-icon{
    color: white !important;
}

.p-icon:hover{
    color: black;
}

.p-carousel-indicators{
    display: none;
}

/* estilo modal */

.modal-content{
    /* background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9px);
-webkit-backdrop-filter: blur(9px);
border: 1px solid rgba(255, 255, 255, 0.31); */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.8px);
-webkit-backdrop-filter: blur(12.8px);
border: 1px solid rgba(255, 255, 255, 0.31);
    color: white;
    border-radius: 1vw !important;
}

.modal-body{
    position: relative;
}

.close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 11;
    border-radius: 50%;
    border: solid 1px white;
    background-color: rgba(0, 0, 0, 0.5);
}

.videoCont{
    position: relative;
}

.modal-body #my-video{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.overlay{
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgb(20,20,20);
    background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(0,0,0,0) 100%, rgba(20,20,16,1) 141410%);
    height: 20px;
    z-index: 1;
}

.watch{
    padding: 15px 25px;
    background: linear-gradient(90deg, #3747f4, #1554f4, #005ef3, #0068f1, #0070ed, #0077e8, #007ee2, #0584dc);
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 1vw;
    width: 100%;
}

.watch img{
    max-width: 17px;
}

.favourite{
    background-color: transparent;
    color: white;
    font-weight: 700;
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 0 25px;
    border-radius: 1vw;
}

.favourite:hover{
    background-color: white;
    color: black;
    border: white;
    transition: 0.3s;
    text-decoration: none;
}

.favoriteIcon{
    max-width: 20px;
}

.favourite:hover .favoriteIcon{
    filter: brightness(0);
}

/* ESTILOS FOOTER */

.footerSection{
    background: linear-gradient(90deg, #111a29, #131e2e, #162233, #182639, #1a2a3e, #1d2e44, #1f3349, #21374f) !important;

    color: white;
}

/* ESTILOS SUSCRIPCIONES */

.filaSubs{
    max-width: 1440px;
}

.medal{
    width: 100%;
    height: 80px;
    background-color: red;
    border-radius: 1vw;
}

.suscripcion{
    background: linear-gradient(210deg, #283d61, #416697, #5792d1);
    border-radius: 1vw;
}

.infoCampo{
    padding: 10px 0;
}

.infoCampo span{
    color: white;
    font-size: 12px;
    font-weight: 700;
}

.suscripcion p{
    color: white;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}

.suscripcion button{
    color: black;
    border: none;
    padding: 15px 25px;
    width: 100%;
    font-weight: 700;
    border-radius: 1vw;
}

/* ESTILOS PROFILE */

.mainBox{
    background-color: #12100D !important;
    margin-top: 110px;
}

.group{
    max-width: fit-content;
}

.profileImageEdit img{
   max-width: 350px;
}

.deleteAccountAction{
    background-color: transparent !important;
    border: solid 1px rgba(255, 255, 255, 0.5);
}

.deleteAccountAction:hover{
    background-color: white !important;
    border: solid 1px white;
    color: black;
}

/* ESTILOS VISTA PELIS */

.cont-principal{
    padding-top: 70px;
}

.film-card{
    max-width: 350px;
}

.miniature img{
    width: 100%;
}