
html {
    font-size: 14px;
}

body {
    background-color: #141414 !important;
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}


p {
    line-height: 1.75;
}
ol{
    margin: 0px;
    padding-left: 0rem;
}

h1, h2, h3{
    color: white;
    margin: 0;
}

/* ESTILOS NAV BAR */
.navbar {
    background: rgb(20, 20, 16);
    background: linear-gradient(180deg, rgba(20, 20, 16, 1) 5%, rgba(0, 212, 255, 0) 100%);
    height: 68px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    border: none;
    box-shadow: none;
}

/* estilos drop down */


/* ESTILOS LOGIN Y REGISTER */

.contenedorInputs{
    background-color: #12100D !important;
    width: 450px;
    border-radius: 4px;
    border: solid 1px rgba(255, 255, 255, 0.1) !important;
}

.registerCard{
    background-color: #12100D !important;
}

.accion{
    width: 100%;
}

.reqInfo, .reqInfo:focus{
    background-color: #333333;
    width: 100%;
    height: 56px;
    border: none;
    color: white;
    outline: none;
    box-shadow: none;
}

input.reqInfo::placeholder{
    color: #7C7C7C;
}

.accion{
    background-color: red;
    border: none;
    font-weight: 700;

    width: 100%;
    height: 45px;
    color: white;
}

.accion:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}

.frgtPasswd{
    text-align: center;
    color: white;
    font-weight: 400;
}

.form-check-label{
    color: white;
}

/* estilos secciones inferiores info */

.infoRow{
    padding: 130px 80px;
}

.infoRow h1, h2, .infoQuestions h1{
    font-weight: 900;
}

/* estilos preguntas frecuentes */

.infoQuestions h1{
    text-align: center;
}

/* ESTILOS HOME PAGE */

.surface-border{
    border: none;
    background-color: white;
    padding: 0 !important;
}

.surface-border:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.5s;
}

.image-item{
    width: 100%;
}

/* estilo modal */

.modal-content{
    background-color: #181818 !important;
    color: white;
}

.modal-body{
    position: relative;
}

.close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 11;
    border-radius: 50%;
    border: solid 1px white;
    background-color: rgba(0, 0, 0, 0.5);
}

.watch{
    padding: 15px 25px;
    background-color: red;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 4px;
}

.watch img{
    max-width: 17px;
}

.favourite{
    background-color: transparent;
    color: white;
    font-weight: 700;
    border: solid 0.5px #3d3d3d;
    border-radius: 4px;
}

.favourite:hover{
    background-color: white;
    color: black;
    border: white;
    transition: 0.3s;
}

/* ESTILOS FOOTER */

.footerSection{
    background-color: #141414;
    color: white;
}

/* ESTILOS SUSCRIPCIONES */

.filaSubs{
    max-width: 1440px;
}

.medal{
    width: 100%;
    height: 80px;
    background-color: red;
    border-radius: 4px;
}

.suscripcion{
    background-color: #636363;
    border-radius: 4px;
}

.infoCampo{
    padding: 10px 0;
}

.infoCampo span{
    color: white;
    font-size: 12px;
    font-weight: 700;
}

.suscripcion p{
    color: white;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}

.suscripcion button{
    color: black;
    border: none;
    padding: 15px 25px;
    width: 100%;
    font-weight: 700;
}