
html {
    font-size: 14px;
}

body {
    background-color: #141414 !important;
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}


p {
    line-height: 1.75;
}
ol{
    margin: 0px;
    padding-left: 0rem;
}

h2{
    color: white;
    margin: 0;
}

/* ESTILOS NAV BAR */
.navbar {
    background: rgb(20, 20, 16);
    background: linear-gradient(180deg, rgba(20, 20, 16, 1) 5%, rgba(0, 212, 255, 0) 100%);
    height: 68px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    border: none;
    box-shadow: none;
}

/* estilos drop down */


/* ESTILOS LOGIN Y REGISTER */

.contenedorInputs{
    background-color: #12100D;
}

label{
    color: #7C7C7C;
}

.accion{
    width: 100%;
}

.reqInfo, .reqInfo:focus{
    background-color: #333333;
    border: none;
    color: white;
    outline: none;
    box-shadow: none;
}

input.reqInfo::placeholder{
    color: #7C7C7C;
}

/* ESTILOS HOME PAGE */

.surface-border{
    border: none;
    background-color: white;
    padding: 0 !important;
}

.surface-border:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.5s;
}

.image-item{
    width: 100%;
}

/* estilo modal */

.modal-content{
    background-color: #181818 !important;
    color: white;
}